<div class="container">
  <div class="row">


    <!-- user's avator -->
    <div class = "col-md-3 col-md-offset-0">
      <div class="user-profile-part1">
        <div class="user-profile-image">
          <% if @user.avatar? %>
            <%= link_to user_path(@user) do %>
              <%= image_tag @user.avatar, class: "img-responsive  img-rounded" %>
            <% end %>
          <% else %>
            <span class="glyphicon glyphicon-picture"></span>
          <% end %>
        </div>
        <div class="user-profile-content">
          <h3><%= @user.name %></h3>
        </div>
      </div>
    </div>


    <!-- user's introduction -->
    <div class = "col-md-9">
      <div class="user-profile-part2">
        <div class="well">
        <ul class="list-unstyled"> <!-- left margin -->
          <strong><%= @user.introduction %><br>
        </ul>
      </div>
      <% if current_user == @user %>
        <%= link_to "Edit Profile", edit_user_path(@user) , class: "btn btn-primary" %>
      <% else %>
        <%= render partial: "shared/friend_button", locals: { user: @user } %>
      <% end %>
      </div>
    </div>
  </div>
  <br>

  <!--  =========================================    -->
  <div class="row">
    <!-- 使用 Bootstrap components 的 Nav Tabs -->
    <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
    <!-- if current_page?(user_path) -->
    <% if current_user == @user %>
      <ul class="nav nav-tabs">
        <li role="presentation" class=<%= raw('active')  if @tab == "my_post" || !@tab  %>> <%= link_to 'My Post', user_path(tab: "my_post") %>
        </li>
        <li role="presentation" class=<%= raw('active')  if @tab == "my_comment"%>> <%= link_to 'My Comment', user_path(tab: "my_comment") %>
        </li>
        <li role="presentation" class=<%= raw('active')  if @tab == "my_collect"%>> <%= link_to 'My Collect', user_path(tab: "my_collect") %>
        </li>
        <li role="presentation" class=<%= raw('active')  if @tab == "my_draft"%>> <%= link_to 'My Draft', user_path(tab: "my_draft") %>
        </li>
        <li role="presentation" class=<%= raw('active')  if @tab == "my_friend"%>> <%= link_to 'My Friend', user_path(tab: "my_friend") %>
        </li>
      </ul>
    <% else %>
      <ul class="nav nav-tabs">
        <li role="presentation" class=<%= raw('active')  if @tab == "my_post" || !@tab  %>> <%= link_to 'My Post', user_path(tab: "my_post") %>
        </li>
        <li role="presentation" class=<%= raw('active')  if @tab == "my_comment"%>> <%= link_to 'My Comment', user_path(tab: "my_comment") %>
        </li>
      </ul>
    <% end %>
    <% if @tab == "my_post" || !@tab  %> <!-- ============== tab ============== -->
      <%= render partial: "shared/user_dojo"%>
    <% elsif @tab == "my_comment"%> <!-- ============== tab ============== -->
      <br>
      <div class = "col-md-12 col-md-offset-0">
        <% @comments.each do |comment| %>
          <div class="user-comment-block" id="comment-<%= comment.id %>">
            <div class="comment-caption">
              <div>
                <% if current_user == @user %>
                  <%= link_to comment.dojo.title, dojo_path(comment.dojo) ,class: "btn btn-primary" %>
                <% else %>
                  <div class="label label-info"><%= comment.dojo.title%></div>
                <% end %>
              </div>
              <br>
              <div id="text-<%= comment.id %>">
                <%= render partial: "shared/comment_text", locals: {dojo: comment.dojo, comment: comment, edit_type: @edit_type, edit_id: @edit_id} %>
              </div>

              <!-- edit, delete -->
              <% if current_user == comment.user %>
                <% if comment.id.to_s != @edit_id %>

                  <%= link_to edit_dojo_comment_path(comment.dojo, comment.id,tab: "my_comment", edit_type: "user", edit_id: comment.id) , remote: true do %>
                    <span class="glyphicon glyphicon-edit"></span>
                  <% end %>

                  <%= link_to dojo_comment_path(comment.dojo, comment.id), remote: true, method: :delete, data: {confirm:"Are you sure?"} do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                <% end %>
              <% end %>
            </div> <!-- comment-caption -->
          </div> <!-- user-comment-block -->
        <% end %> <!-- comments.each -->
      </div> <!-- col-md -->
    <% elsif @tab == "my_collect"  %> <!-- ============== tab ============== -->
      <table class="table table-hover"> <!-- table-striped table-condensed -->
        <% @collects.each do |collect| %>
          <tr id=collect-dojo-id-<%= collect.dojo.id %>>
            <td data-link="<%= dojo_path(collect.dojo) %>"><h4><%= collect.dojo.title %></h4></td>
            <% if @user == current_user %>
              <td>
                <%= link_to 'Uncollect', uncollect_dojo_path(collect.dojo, page: "user"), remote: true, method: :post, class: "btn btn-info .btn-xs" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% elsif @tab == "my_draft"  %> <!-- ============== tab ============== -->
      <%= render partial: "shared/user_dojo"%>
    <% elsif @tab == "my_friend"  %> <!-- ============== tab ============== -->
      <%= render partial: "shared/user_friend"%>
    <% end %> <!-- tab -->
    <br>
    <% if @user == current_user %>
      <%= link_to "New Post", new_dojo_path, class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<script>
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>