<div class="container">
  <div class="row">
    <div class="dojo-item">
      <div class = "col-md-2 col-md-offset-0">
        <div class="dojo-user-item">
          <%= render partial: "shared/user_item", locals: { user: dojo.user } %>
        </div>
      </div>
      <div class = "col-md-10 col-md-offset-0">
        <div class="caption">
          <div class="post-image">
            <% if dojo.image? %>
                <%= image_tag dojo.image, class: "img-responsive  img-rounded" %>
            <% else %>
               <span class="glyphicon glyphicon-picture"></span>
            <% end %>
          </div>
          <br>
            <% if current_user == dojo.user && @edit_type == "post"  %>
              <%= form_for dojo do |f| %>
                <div class="form-group">
                  <%= f.text_area :description, placeholder: dojo.description, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.submit "Update",class: "btn btn-primary btn-sm" %>
                </div>
              <% end %>
            <% else %>
              <p><%= truncate(dojo.description, length: 500)%></p>
            <% end %>

            <!-- edit, delete -->
            <% if current_user == dojo.user %>
              <% if @edit_type != "post" %>
               <%= link_to edit_dojo_path(dojo) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                <% end %>

                <%= link_to dojo_path(dojo), method: :delete, data: {confirm:"Are you sure?"} do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>

    <!-- comments -->
    <% @comments.each do |comment|%>
      <div class="dojo-comment-item">
        <div class = "col-md-2 col-md-offset-0">
          <div class="comment-user-item">
            <%= render partial: "shared/user_item", locals: { user: comment.user } %>
          </div>
        </div>
        <div class = "col-md-10 col-md-offset-0">
          <div class="comment-caption">
            <% if current_user == comment.user && @edit_type == "comment" && comment.id.to_s == @edit_id %>
                <%= form_for [dojo, comment] do |f| %>
                  <div class="form-group">
                    <%= f.text_area :content, placeholder: comment.content, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.submit "Update", class: "btn btn-primary btn-sm" %>
                  </div>
                <% end %>
            <% else %>
              <p><%= truncate(comment.content, length: 500)%></p>
            <% end %>

            <!-- edit, delete -->
            <% if current_user == comment.user %>
              <% if comment.id.to_s != @edit_id %>

                <%= link_to dojo_path(dojo,edit_type: "comment", edit_id: comment.id) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                <% end %>

                <%= link_to dojo_comment_path(dojo, comment.id), method: :delete, data: {confirm:"Are you sure?"} do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              <% end %>
            <% end %>
          </div> <!-- comment-caption -->
        </div> <!-- col-md -->
      </div> <!-- dojo-comment-item -->
    <%end%> <!-- comments -->

    <div class="text-center">
      <%= paginate @comments %>
    </div>
  </div>
</div>
