<table class="table table-hover"> <!-- table-striped table-condensed -->
  <% @dojos.each do |dojo| %>
    <tr>
      <td data-link="<%= dojo_path(dojo) %>"><%= dojo.title %></td>
      <% if dojo.post_status == "draft"%>
        <td data-link="<%= dojo_path(dojo) %>">Draft</td>
      <% else %>
        <td data-link="<%= dojo_path(dojo) %>">Published</td>
      <% end %>
      <td data-link="<%= dojo_path(dojo) %>"><%= dojo.created_at.strftime("%F  %I:%M %p") %></td>


      <!-- edit, delete -->
      <td>
        <% if current_user == dojo.user %>
            <%= link_to edit_dojo_path(dojo) do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>

            <%= link_to dojo_path(dojo), method: :delete, data:{ confirm: "Are you sure?" } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>