<div class="container">
  <div class="row">
    <ul class="nav nav-pills nav-pills-center">
      <% if @category %>
        <li role="presentation"><%= link_to "All", dojos_path%></li>
      <% else %>
        <li role="presentation" class='active'><%= link_to "All", dojos_path%></li>
      <% end %>
      <% @categories.each do |category| %>
        <% if @category && category.id == @category.id %>
          <li role="presentation" class='active'><%= link_to category.name, dojos_path(category_id: category.id)%></li>
        <% else %>
          <li role="presentation"><%= link_to category.name, dojos_path(category_id: category.id)%></li>
        <% end %>
      <% end %>
    </ul>
    <br>

    <table class="table table-hover"> <!-- table-striped table-condensed -->
      <thead>
        <tr>
          <th><%= sort_link(@ransack, :comments_count, "Replied count", default_order: :desc) %></th>
          <th class="text-left">Title</th>
          <th><%= sort_link(@ransack, :last_replied_at, "Last replied at", default_order: :desc) %></th>
          <th><%= sort_link(@ransack, :viewed_count, "Viewed count", default_order: :desc) %></th>
        </tr>
      </thead>
      <% @dojos.each do |dojo| %>
        <tr data-link="<%= dojo_path(dojo) %>">

          <td><%= dojo.comments_count %></td>
          <td><%= dojo.title %></td>
          <td><%= dojo.last_replied_at.strftime("%Y-%m-%d") if dojo.last_replied_at.present? %></td>
          <td><span class="glyphicon glyphicon-eye-open"></span><span>    </span><%= dojo.viewed_count %></td>
        </tr>
      <% end %>
    </table>
    <div class="text-center">
      <%= paginate @dojos %>
    </div>
  </div>
</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>