<div class="container">
  <div class="row">
    <table class="my-table table borderless">
      <tr>
        <td><h2><%= @dojo.title %></h2></td>
        <td>
          <%= render partial: "shared/collect", locals: {dojo: @dojo}%>
        </td>
      </tr>
    </table>
  </div>
</div>
<%= render partial: "shared/post", locals: {dojo: @dojo}%>

<br>
<div class="container">
  <%= form_for [@dojo, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "comment.....", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
  <% end %>
</div>