<div class="container">
  <div class="row">
    <div id="dojo_title_operation">
      <%= render partial: "shared/dojo_title_operation", locals: {dojo: @dojo}%>
    </div>
  </div>
</div>
<%= render partial: "shared/dojo", locals: {dojo: @dojo}%>

<br>
<div class="container" id="comments">
  <%= form_for [@dojo, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "comment.....", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
  <% end %>
</div>